<div class="card mx-auto" style="width: 60rem;">
  <div class="card-header bg-success border border-3 border-success">
    Drink Submitted by:
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="#" class="btn btn-primary">Go to recipe</a>
    <p class="font-italic">Liquors Used: </p>
  </div>
</div>