<!-- main container -->
<div class="container mt-5 rounded py-3 forms">

    <!-- main column-->
    <div class="column">

      <!-- hero banner -->
      <section class="hero-banner">
    <div class="container auto-mx">
        <div class="row row align-items-center">
            <div class="col-6">
                <h1 class="mt-3">Browse our collection of cocktails & post a recipe of your own!</h1>
                <p class="lead my-5">
                  “Fill with mingled cream and amber,
                  I will drain that glass again.
                  Such hilarious visions clamber
                  Through the chamber of my brain —
                  Quaintest thoughts — queerest fancies
                  Come to life and fade away;
                  What care I how time advances?
                  I am drinking ale today.” -Edgar Allen Poe
                </p>
                <div class="mx-auto">
              {{#if loggedIn}}
                <a href="/add-recipe" class="btn btn-outline-secondary bg-dark">Add New Recipe</a>
                {{/if}}
            </div>
            </div>
            
              <div class="card">
                    {{#each recipes as |recipe|}}
                  <div class="card-column"></div>
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <h5 class="card-title"><a href="/recipes/{{recipe.id}}">{{recipe.title}}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted"> {{recipe.description}}</h6>
                  
                </div>
                {{/each}}
               </div>
  
              </div>
            
            
            
        </div>
    </div>
</section>


  </div>
</div>

<script src ="/javascript/single-recipe"></script>