<!-- ************** trying out some stuff here, getting it started *************** -->
    <!-- main container -->
    <div class="container">
    <!-- main column?-->
    <div class="column">
      <!-- hero -->
      <section class="">
        <div class="">
          <div class="">
            <h1 class="title">Cocktail Recipes!</h1>
          </div>
        </div>
      </section>
      {{#each recipes as |recipe|}}
      <div class="card-column"></div>
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{recipe.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Author: {{recipe.username}}</h6>
    <ul class ='ingredients-container'>
      {{#each recipes.ingredients as |ingredient|}}
      <li class = 'ingredient'>{{ingredient.name}}: {{ingredient.quantity + ingredient.unit}}</li>
    </ul>
    {{/each}}
    <button class ='add-ingredient'>+</button>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
