<div class="container"> 
  <div class="border border-2 rounded col-3 mx-auto mt-5 mb-5 bg-light"> 
<form class="login-form">
  <div>
    <label for="username-login" class="mt-2 font-weight-bold">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login" class="font-weight-bold mt-2">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="mt-2 border border-2 rounded">Login</button>
  </div>
</form>


<form class="signup-form">
  <div>
    <label for="username-signup" class="font-weight-bold">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup" class="font-weight-bold mt-2">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button id="signup" type="submit" class="mt-2 border border-2 rounded">Signup</button>
    <br>
       <div>
        <input type="checkbox" name="checkpoint1" id="checkbox" />
            <label for="checkbox">I acknowledge that I am at least 21 years of age.</label>
            </div>
              

  </div>
</form>  
  </div>
</div>




<script src="/javascript/login.js"></script>