<div class="container"> 
  <div class="border col-3 mx-auto mt-5 bg-light"> 
<form class="login-form">
  <div>
    <label for="username-login" class="mt-2">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <br>
    <button type="submit">Login</button>
  </div>
</form>


<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <br>
    <button id="signup" type="submit">Signup</button>
  </div>
</form>  
  </div>
</div>




<script src="/javascript/login.js"></script>