<div class="container">
	<div class="row">
		<!--drink title/description
        Add bootstrap card -->
		<h1>{{title}}</h1>
		<div class="col-4 card">
			<div class="card-header">

			</div>
			<div class="card-body drink-description">

			</div>
		</div>
		<!-- ingredients/measurements -->
		<div class="col-8">
			<!--ingredients, quanity, units -->
		</div>
	</div>
</div>