/* main handlebars css */
.website-background {
    background-color: #6f3f04;
}

nav {
    background-color: #be7c18;
}

/* homepage handlebars */

.main-homepage {
    background-color: #be7c18;
}


