/* main handlebars css */
.website-background {
    background-image:url('../images/cocktails.jpg');
}

nav {
    background-color: #be7c18;
}

footer {
    background-color: #be7c18;
}

/* homepage handlebars */
